body {
  background-color: rgb(239, 241, 241);
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 1em;
  margin-left: 15em;
  margin-right: 15em;
}

.maintitle {
  text-align: center;
  background-color: black;
  color: white;
  padding-top: 2em;
  padding-bottom: 2em;
}

footer {
  background-color: black;
  color: white;
  padding-top: 2em;
  padding-bottom: 2em;
  margin-top: auto;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #c55656;
  color: white;
}

.topnav-right {
  float: right;
}

.button3 {
  background-color: white; 
  color: black; 
  border: 2px solid #f44336;
}

.button3:hover {
  background-color: #f44336;
  color: white;
}

.btn-csv {
  position: absolute;
  width: 15em;
  height: 3em;
}

.command-box {
    background-color: rgba(0, 0, 0, 0.527);
    border-radius: 10px;
    text-align: center;
    color: white;
    width: 30em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.section-box {
  margin-top: 3em;
  margin-bottom: 3em;
}